@import "./styles.module.scss";
@import "../node_modules/@ui-core/tokens/build/tokens/variables.scss";

:root {
  --color-background: #{$ink-400};
  --color-foreground: #{$vanilla-100};

  --color-primary: #{$robin-500};
  --color-primary-hover: #{$robin-400};

  --color-secondary: #{$slate-400};
  --color-secondary-hover: #{$slate-300};

  --color-warning: #{$amber-500};
  --color-warning-hover: #{$amber-400};

  --color-danger: #{$cherry-500};
  --color-danger-hover: #{$cherry-400};
}

$spaceAmounts: (1, 2, 3, 4, 5, 6, 7, 8, auto);

@each $space in $spaceAmounts {
  @if $space==auto {
    .m-#{$space} {
      margin: #{$space};
    }

    .mx-#{$space} {
      margin-left: #{$space};
      margin-right: #{$space};
    }

    .my-#{$space} {
      margin-top: #{$space};
      margin-bottom: #{$space};
    }

    .ml-#{$space} {
      margin-left: #{$space};
    }

    .mr-#{$space} {
      margin-right: #{$space};
    }

    .mb-#{$space} {
      margin-bottom: #{$space};
    }

    .mt-#{$space} {
      margin-top: #{$space};
    }
  } @else {
    .m-#{$space} {
      margin: #{$space}rem;
    }

    .mx-#{$space} {
      margin-left: #{$space}rem;
      margin-right: #{$space}rem;
    }

    .my-#{$space} {
      margin-top: #{$space}rem;
      margin-bottom: #{$space}rem;
    }

    .ml-#{$space} {
      margin-left: #{$space}rem;
    }

    .mr-#{$space} {
      margin-right: #{$space}rem;
    }

    .mb-#{$space} {
      margin-bottom: #{$space}rem;
    }

    .mt-#{$space} {
      margin-top: #{$space}rem;
    }

    .p-#{$space} {
      padding: #{$space}rem;
    }

    .px-#{$space} {
      padding-left: #{$space}rem;
      padding-right: #{$space}rem;
    }

    .py-#{$space} {
      padding-top: #{$space}rem;
      padding-bottom: #{$space}rem;
    }

    .pl-#{$space} {
      padding-left: #{$space}rem;
    }

    .pr-#{$space} {
      padding-right: #{$space}rem;
    }

    .pb-#{$space} {
      padding-bottom: #{$space}rem;
    }

    .pt-#{$space} {
      padding-top: #{$space}rem;
    }
  }
}

$alignments: (
  "center",
  "space-between",
  "space-around",
  "space-evenly",
  "flex-start",
  "flex-end"
);

@each $align in $alignments {
  .justify-#{$align} {
    justify-content: #{$align};
  }

  .items-#{$align} {
    align-items: #{$align};
  }

  .justify-items-#{$align} {
    justify-items: #{$align};
  }

  .content-#{$align} {
    align-content: #{$align};
  }
}

$displayProps: (
  "block",
  "inline-block",
  "inline",
  "flex",
  "grid",
  "inline-flex",
  "inline-grid",
  "table",
  "inline-table",
  "list-item",
  "none",
  "contents"
);

@each $disp in $displayProps {
  .d-#{$disp} {
    display: #{$disp};
  }
}

$textAlignments: ("left", "right", "center", "revert");

@each $textAlign in $textAlignments {
  .text-#{$textAlign} {
    text-align: #{$textAlign};
  }
}
