@use '../../tokens/colors' as *; 

.RadioGroupPrimitiveRoot {
    display: grid;
    gap: 0.5rem;
}

.RadioGroupPrimitiveItem {
    aspect-ratio: 1 / 1;
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-default);
    color: var(--color-primary);

    background-color: var(--color-background);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover{
        border-color: var(--color-primary);
    }

    &:focus {
        outline: none
    }

    &:focus-visible {
        box-shadow: 0 0 0 0 calc(2px + var(--ring-offset-width)) var(--tw-ring-color);
    }

    &:disabled {
        opacity: 0.50;
        cursor: not-allowed;
    }

    &[data-state="checked"] {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

}

.RadioGroupPrimitiveIndicator {
    height: 0.5rem;
    width: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Circle {
    height: 0.5rem;
    width: 0.5rem;
    fill: var(--color-foreground); 
    color: var(--color-foreground);
}