$zinc: #ABBDFF;
$robin: #4E74F8;
$sienna: #AD7F58;
$sakura:#F24769;

$gradient-coral: linear-gradient(114deg, #ED6D68 14.99%, #FCA083 77.27%);
$gradient-dark-shadow: linear-gradient(139deg, rgba(18, 19, 23, 0.80) 0%, rgba(18, 19, 23, 0.90) 98.68%);
$gradient-dawn: linear-gradient(99deg, #7A97FA 4.42%, #F977FF 96.6%);
$gradient-ocean: linear-gradient(99deg, #48F8CF 4.42%, #28CBF3 96.6%);
$gradient-splash: linear-gradient(99deg, #4568DC 4.42%, #324DAA 96.6%);
$gradient-flamingo: linear-gradient(92deg, #CA9CD0 1.36%, #D38972 68.48%, #A1B1E7 98.99%);

$ink-500: #0B0C0E;
$ink-400: #121317;
$ink-300: #16181D;
$ink-200: #23262E;
$ink-100: #2A2E37;

$vanilla-400: #C0C1C3;
$vanilla-300: #E9E9E9;
$vanilla-200: #F5F5F5;
$vanilla-100: #FFFFFF;

$slate-500: #161922;
$slate-400: #1D212D;
$slate-300: #242834;
$slate-200: #2C3140;

$robin-600: #3F5ECC;
$robin-500: #4E74F8;
$robin-400: #7190F9;
$robin-300: #95ACFB;
$robin-200: #B8C7FC;
$robin-100: #CAD5FD;

$sienna-600: #8A6646;
$sienna-500: #AD7F58;
$sienna-400: #BD9979;
$sienna-300: #CEB29B;
$sienna-200: #DECCBC;
$sienna-100: #E6D9CD;

$cherry-600: #B83A3E;
$cherry-600: #E5484D;
$cherry-600: #EA6D71;
$cherry-600: #F5B6B8;
$cherry-600: #F7C8CA;
$cherry-600: #FADADB;

$aqua-600: #07AFE6;
$aqua-500: #23C4F8;
$aqua-400: #4BCFF9;
$aqua-300: #72D9FB;
$aqua-200: #9AE4FC;
$aqua-100: #C1EEFD;

$sakura-600: #C53955;
$sakura-500: #F24769;
$sakura-400: #F56C87;
$sakura-300: #F791A5;
$sakura-200: #FAB5C3;
$sakura-100: #FBC8D2;

$amber-600: #D5AA45;
$amber-500: #FFCD56;
$amber-400: #FFD778;
$amber-300: #FFE19A;
$amber-200: #FFEBBB;
$amber-100: #FFF0CC;

$forest-600: #1EB475;
$forest-500: #25E192;
$forest-400: #51E7A8;
$forest-300: #7CEDBE;
$forest-200: #A8F3D3;
$forest-100: #BEF6DE;