.Base {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  white-space: nowrap;

  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;

  border: none;

  outline: none;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  line-height: 2;

  height: fit-content;

  :disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.ButtonDefault {
  background-color: #{$robin-500};
  color: #{$vanilla-100};

  &:hover {
    background-color: #{$robin-400};
  }
}

.ButtonSecondary {
  background-color: #{$slate-400};
  color: #{$vanilla-100};

  &:hover {
    background-color: #{$slate-300};
  }
}

.ButtonWarning {
  background-color: #{$amber-500};
  color: #{$ink-400};

  &:hover {
    background-color: #{$amber-400};
  }
}

.ButtonDanger {
  background-color: #{$cherry-500};
  color: #{$vanilla-100};

  &:hover {
    background-color: #{$cherry-400};
  }
}

.ButtonBorder {
  background-color: transparent;
  color: var(--color-foreground);
  border: 1px solid var(--color-foreground);
}

.ButtonLink {
  background-color: transparent;
  padding: 0;
  color: #{$robin-500};
}

.ButtonGhost {
  background-color: transparent;
  color: var(--color-foreground);
}

.ButtonSizeXS {
  font-size: 8px;
  padding: 4px 8px;
}

.ButtonSizeSM {
  font-size: 12px;
  padding: 8px 1rem;
}

.ButtonSizeMD {
  font-size: 12px;
  padding: 12px 1rem;
}

.ButtonSizeLG {
  font-size: 1rem;
  padding: 12px 24px;
}
